body {
    margin: 0;
    padding: 0;
    background: lightsteelblue;
}
h1 {
    text-align: center;
}
.container-inset {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.list {
    list-style: none;
    margin: 0;
    padding: 50px 0 0;
    -webkit-overflow-scrolling: touch;
}
.list::-webkit-scrollbar {
    display: none;
}

.list--inline {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 50px 20px 50px;
}

.list__item {
    background: #fff;
    border-radius: 13px;
    box-shadow: 0 15px 30px rgba(31, 51, 136, 0.15);
    padding: 20px;
    text-align: center;
}
.list__item + .list__item {
    margin-left: 20px;
}

.list--inline .list__item {
    display: inline-block;
    max-width: 200px;
    min-height: 200px;
    width: 100%;
}


.list--flex {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 50px 20px 50px;
}

.list--flex .list__item {
    flex: 0 0 200px;
    min-height: 200px;
}
